.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  .toggle-slot {
    position: absolute;
    height: 4em;
    width: 9em;
    border: .5rem solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    box-shadow: 0 .4rem 2.5rem #e4e7ec;
    transition: background-color 250ms;
    left: 2%;
    z-index: 9999;
    top: 3rem;
    font-size: 1.5rem;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(5.25em, 0.2em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0 0 0 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0 0 0 0.75em white;
    transform: translate(0.2em, 0.2em);
  }
  
  .sun-icon {
    position: absolute;
    height: 3em;
    width: 3em;
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    width: 3em;
    opacity: 1;
    height: 3em;
    transform: translate(0.4em, 0.2em)
    rotate(15deg);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 3em;
    width: 3em;
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 3em;
    width: 3em;
    opacity: 0;
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(5.4em, 0.2em) rotate(-15deg);
  }

@media screen and (max-width: 786px) {
  .toggle-slot {
    height: 2.2em;
    width: 5em;

    .sun-icon-wrapper {
      width: 1.5em;
      height: 1.5em;
      transform: translate(0.25em, 0.2em) rotate(15deg);

      .sun-icon {
        height: 1.3em;
        width: 1.3em;
      }
    }

    .toggle-button {
      transform: translate(3em, 0.2em);
      height: 1.2em;
      width: 1.2em;
    }

    .moon-icon-wrapper {
      height: 1.5em;
      width: 1.5em;

      .moon-icon {
        height: 1.5em;
        width: 1.5em;
      }
    }

  }
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    transform: translate(2.8em, 0em) rotate(-15deg);
  }
}