@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixin";

.day {
    background-image: linear-gradient(
        to right bottom,
        $day-sub-gradient,
        $day-main-gradient),
    url('../../assets/images/header-background.webp');
    background-position: bottom;
}

.daysafari {
    background-image: linear-gradient(
        to right bottom,
        $day-sub-gradient,
        $day-main-gradient),
    url('../../assets/images/header-background.jpg');
    background-position: bottom;
}

.night {
    background-image: linear-gradient(
        to right bottom,
        $night-main-gradient,
        $night-sub-gradient),
    url('../../assets/images/skill-dark.webp');
    background-position: center;
}

.nightsafari {
    background-image: linear-gradient(
        to right bottom,
        $night-main-gradient,
        $night-sub-gradient),
    url('../../assets/images/skill-dark.jpg');
    background-position: center;
}

.pic {
    height: 100%;
}

.home {
    height:  calc(100dvh - 100px);
    background-size: cover;
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @include respond(phone) {
        // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
}

.logo-box {
    position: absolute;
    left: 3%;
    top: 1%;
}

.logo {
    height: 10rem;
}

.text-box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 10rem;

    @include respond(phone) {
        margin-bottom: 7rem;
    }
    
    &-main {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 1rem;
        animation: moveInLeft 2s ease-in-out;
    }
    
    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .5rem;
        animation: moveInRight 2s ease-in-out;
    }
}