@import "../../sass/abstracts/variables";

.day {
    background-image: linear-gradient(
        to right bottom,
        $day-sub-gradient,
        $day-main-gradient),
    url('../../assets/images/header-background.jpg');
    background-position: bottom;
}

.night {
    background-image: linear-gradient(
        to right bottom,
        $night-main-gradient,
        $night-sub-gradient),
    url('../../assets/images/skill-dark.jpg');
    background-position: center;
}

.header {
    height: 100%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    left: 3%;
    top: 1%;
}

.logo {
    height: 10rem;
}

.text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 10rem;
    
    &-main {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 1rem;
        animation: moveInLeft 2s ease-in-out;
    }
    
    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .5rem;
        animation: moveInRight 2s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        height: 7rem;
    }

    .btn:link, .btn:visited {
        font-size: 1.4rem;
        padding: .7rem 2rem;
    }

    .heading-primary-main {
        font-size: 3.5rem;
    }

    .heading-primary-sub {
        font-size: 1.8rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 475px) {

    .night {
        background-position: right;
    }

    .btn:link, .btn:visited {
        font-size: 1.2rem;
        padding: .5rem 1.5rem;
    }

    .heading-primary-main {
        font-size: 2rem;
    }

    .heading-primary-sub {
        font-size: 1.2rem;
    }
}